<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Alunos</title>
    <link rel="stylesheet" href="/styleLIST.css">
</head>
<body>
    
    <main>
        <head>
            <h1>Listagem de Alunos</h1>
        </head>
        <section>
            <h2>Dashboard</h2>
            <%if(bancoAlunos.length>0){ %>
            <table>
                <tr>
                    <th>Matricula</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Turma</th>
                    <th>Série</th>
                    <th>Sexo</th>
                    <th>Telefone</th>
                    <th>Endereço</th>
                    <th>Responsavel</th>
                    <th colspan="2">Ações</th>
                </tr>
                <% bancoAlunos.forEach(function(aluno) { %>
                <tr>
                    <td><%= aluno.MATRICULA %></td>
                    <td><%= aluno.NOME %></td>
                    <td><%= aluno.EMAIL %></td>
                    <td><%= aluno.TURMA %></td>
                    <td><%= aluno.SERIE %></td>
                    <td><%= aluno.SEXO %></td>
                    <td><%= aluno.TELEFONE %></td>
                    <td><%= aluno.ENDERECO %></td>
                    <td><%= aluno.RESPONSAVEL %></td>
                <td> <a href="/alunos/editarAluno/<%= aluno.MATRICULA %>">Editar</a></td>
                <td> <a href="/alunos/deletarAluno/<%= aluno.MATRICULA %>">Remover</a></td>
                </tr>
                <%}); %>
            </table>
            <% }else{%>
                <p>Nenhum registro cadastrado</p>
            <% } %>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>